<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Inicio</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

<p class="date">
  Día {{ currentDate | date: 'dd/MM/yyyy' }} - {{ currentTime | date: 'HH:mm:ss' }}
</p>

<p class="title">
 Rutinas
</p>
 <div class="buttonContainer">
    <button class="buttonMenu">Tus rutinas</button>
    <button class="buttonMenu" (click)="goTo('create-routine')">Crear rutina</button>
  </div>
 <br>
  <p class="title">
  {{ 'TRAININGS' | translate }}
  </p>
  <div class="buttonContainer">
    <button class="buttonMenu">Comenzar entrenamiento</button>
    <button class="buttonMenu">Histórico entrenamintos</button>
  </div>


</ion-content>


